:root {
    /* CORES PRINCIPAIS */
    --color-white: #ffffff;
    --color-offwhite: #f2f5ff;
    --color-teal: #026E70;
    --color-teal-transparent: #158688cb;
    --color-teal-light: #8fa6abb3;
    --color-gray: #8B888E;
    --color-gray-secondary: #68c5d2;

    /* SOMBRA */
    --box-shadow-default: 2px 2px 8px rgba(0, 0, 0, 0.6);

    /* TRANSIÇÕES */
    --transition-float: transform 0.5s;

    /* GRADIENTES */
    --gradient-main: linear-gradient(to bottom, var(--color-offwhite), var(--color-white));
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    overflow-x: hidden;
}

* {
    font-family: "League Spartan", sans-serif;
}

.fa-solid {}

.fa-circle {
    color: var(--color-teal);
    font-size: 16px;
}

.fa-circle-info {
    color: var(--color-white);
    font-size: 40px;
}

.header-content {
    background-color: var(--color-offwhite);
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 5px;
    box-shadow: var(--box-shadow-default);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.comprar-link,
.saiba-link {
    border: none;
    background-color: transparent;
    position: fixed;
}

.comprar-link a,
.saiba-link a {
    color: var(--color-teal);
    font-size: 30px;
    text-decoration: none;
    font-weight: 100;
}

.comprar-link {
    top: 5%;
    left: 26%;
}

.saiba-link {
    top: 5%;
    right: 25%;
}

.comprar-link a:hover,
.saiba-link a:hover {
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 230px;
    background-color: var(--color-offwhite);
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 90% 100%, 10% 100%, 0 20%);
    filter: drop-shadow(var(--box-shadow-default));
}

.logo {
    width: 200px;
    padding-top: 45px;
}

main {
    flex: 1;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/BANNER_BG_LO1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    padding: 25px;
    gap: 40px;
    padding-top: 100px;
    background-color: var(--color-offwhite);
}

.main-text {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    align-items: center;
}

.main-text h1 {
    text-align: center;
    font-size: 75px;
    margin-bottom: 0;
    width: 60vw;
}

.main-text h2 {
    font-size: 40px;
    margin-top: 0;
    font-weight: 300;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-container h2 {
    color: var(--color-gray-secondary);
    font-size: 40px;
    font-weight: 300;
}

.button {
    background-color: var(--color-teal-light);
    color: var(--color-white);
    border: 3px var(--color-white) solid;
    padding: 14px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    width: 318.25px;
}

.second-container {
    display: flex;
    flex-direction: column;
    background: transparent;
    background-image: url(./images/BG_PRANCHETA_NOTE_LO1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
    gap: 40px;
    background-color: var(--color-offwhite);
}

.second-container-images-container {
    width: 50px;
    height: 50px;
    background: transparent;
}

.second-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.second-text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 150px;

}

.solution {
    padding-bottom: 100px;
}

.solution-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.second-text h2 {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 80vw;
    margin: 0;
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}

.second-text h2,
.solution h2 {
    color: var(--color-gray);
    font-weight: 300;
    font-size: 70px;
}

span {
    color: var(--color-teal);
    font-weight: bold;
}

strong {
    color: var(--color-teal);
    font-weight: bold;
}


.solution {
    width: 100vw;
    padding-left: 12px;
    padding-right: 12px;
}

.solution h2 {
    text-align: right;
    padding-right: 100px;
    margin: 0;
}

.second-text-content div .list {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    font-size: 39px;
    align-items: center;
    color: var(--color-gray);
    padding-top: 10px;
    text-align: left;
    padding-right: 600px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.solution-content li {
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

li h3 {
    font-weight: 300;
    margin: 18px;
}

.second-container-images-container-2 {
    width: 50px;
    height: 50px;
    background: transparent;
}

.solution-content {
    display: flex;
    justify-content: space-between;
}

.solution-content div .list {
    text-align: right;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    font-size: 39px;
    align-items: center;
    color: var(--color-gray);
    padding-top: 35px;
    padding-right: 100px;
}

.buy-button {
    background-color: var(--color-teal);
    color: var(--color-white);
    border: 0;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 300;
    margin-top: 25px;
    cursor: pointer;
    width: 400px;
    margin-left: 240px;
}

.third-container {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.third-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/BG_FUNCIONALIDADES.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 45vh;
    color: var(--color-teal-light);
    -webkit-text-stroke: 1px var(--color-white);
    font-size: 100px;
    font-weight: 1000;
}

.third-container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.third-container-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 435.68px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    margin-bottom: 80px;
}

.third-container-content h2 {
    font-size: 36px;
    color: var(--color-teal);
    white-space: nowrap;
    margin-bottom: 0;
}

.third-container-content p {
    color: var(--color-gray);
    font-size: 20px;
}

.third-container-icons {
    width: 200px;
    height: 200px;
}

.buy-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.buy-button2 {
    background-color: var(--color-teal);
    color: var(--color-white);
    border: 0;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    width: 400px;
    ;
    margin-bottom: 30px;
}

.float {
    transition: var(--transition-float);
}

.float:hover {
    transform: translate(0, -6.5px);
    font-weight: bold;
}

.footer-content {
    background-color: var(--color-teal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 17px;
    color: var(--color-offwhite);
}

.footer-content h3 {
    font-weight: 1000;
}

.telefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footer-content p {
    font-weight: 300;
}

.footer-icons {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.right-footer {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.right-footer h3 {
    text-align: end;
    font-weight: 1000;
}

.social-media {
    border: 1px solid var(--color-offwhite);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

.social-media:hover {
    background-color: var(--color-teal-transparent);
}

.social-media img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.universal-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.universal-button a {
    text-decoration: none;
}

.count-button {
    background-color: var(--color-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow-default);
}

.fa-chart-column {
    color: var(--color-white);
    font-size: 20px;
}

/*RESPONSIVIDADE*/
/* CELULAR EM PÉ */
@media (max-width: 768px) and (orientation: portrait) {
    body {
        overflow-x: hidden;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 0.1vh;
        padding-bottom: 15px;
    }

    .logo-container {
        height: 75px;
        width: 120px;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 10% 100%, 0 70%);
    }

    .logo {
        height: 115px;
        width: 115px;
    }

    .comprar-link,
    .saiba-link {
        display: none;
    }

    .comprar-link a,
    .saiba-link a {
        display: none;
    }

    .first-container {
        flex-direction: column;
        height: 85vh;
        justify-content: center;
        background-attachment: scroll;
    }

    .main-text h1 {
        font-size: 31px;
        width: 100vw;
        font-weight: 800;
    }

    .main-text h2 {
        font-size: 17px;
    }

    .cta-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-container h2 {
        font-size: 19px;
        text-align: center;
        font-weight: 500;
    }

    .second-container {
        background-image: url(./images/SECAO_RESPONSIVA_CEL_VERTICAL_LO2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-text {
        padding-top: 210px;
        margin-top: 50px;
    }

    .second-text,
    .solution {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second-text h2 {
        width: 100vw;
        font-size: 28px;
    }

    .solution h2 {
        font-size: 32px;
        text-align: center;
        width: 100vw;
        padding-right: 0;
        align-items: center;
    }

    .second-text-content div .list {
        font-size: 17px;
        align-items: center;
        padding-right: 0;
        text-align: center;
        padding-left: 0;
    }

    .solution-content div .list {
        font-size: 17px;
        align-items: center;
        padding-right: 0;
        text-align: center;
    }

    .second-text-content li {
        width: 90vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 3px;
        text-align: center;
        padding-left: 35px;
    }

    .solution-content li {
        width: 90vw;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        gap: 3px;
    }

    .fa-circle {
        font-size: 9.5px;
    }


    .third-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .third-container-content div {}

    .third-container h1 {
        font-size: 43px;
        width: 100vw;
        height: 20vh;
        text-align: center;
    }

    .third-container-content h2 {
        font-size: 25px;
        white-space: normal;
        text-align: center;
    }

    .solution {
        width: 80vw;
        padding: 10px;
        margin-top: 130px;
    }

    .button {
        width: 90%;
        padding: 13px;
        font-size: 16px;
    }

    .buy-button {
        width: 70vw;
        padding: 13px;
        font-size: 16px;
        margin-left: 0;
        margin-right: 65px;
    }

    .buy-button2 {
        width: 90%;
        height: 10%;
        padding: 14px;
        font-size: 16px;
        margin-top: 0;
    }

    .third-container-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        align-items: center;
        justify-content: space-around;

    }

    .third-container h1 {
        background-attachment: scroll;
    }

    .third-container div {
        width: 95vw;
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .third-container-content div p {
        font-size: 17px;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
    }

    .buy-button-container {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .telefone {
        justify-content: center;
    }

    .right-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-footer h3 {
        text-align: center;
    }

    .footer-content p {
        font-weight: 150;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/*CELULAR DEITADO*/
@media (max-height: 480px) and (orientation: landscape) {

    .header-content {
        height: 5vh;
        position: relative;
        width: 100%;
    }

    .logo-container {
        height: 70px;
        width: 160px;
        padding: 7px;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 100%, 10% 100%, 0 60%);
    }

    .logo {
        width: 100%;
    }

    .comprar-link,
    .saiba-link {
        display: none;
    }

    .comprar-link a,
    .saiba-link a {
        display: none;
    }

    .first-container {
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        padding-top: 65px;
        background-attachment: scroll;
    }

    .main-text h1 {
        font-size: 45px;
        width: 90vw;
    }

    .main-text h2 {
        font-size: 22px;
    }

    .cta-container h2 {
        font-size: 20px;
        width: 45vw;
        text-align: center;
    }

    .button {
        font-size: 18px;
        width: 45vw;
        padding: 12px;
    }

    .second-text h2,
    .solution h2 {
        font-size: 35px;
        width: 90vw;
    }

    .second-text h2 {
        font-size: 35px;
        text-align: left;
        padding-left: 4px;
    }

    .second-container {
        background-image: url(./images/SECAO_RESPONSIVA_CEL_DEITADO_02.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .second-text div .list,
    .solution-content div .list {
        font-size: 18px;
    }

    .solution-content div .list {
        align-items: flex-end;
        text-align: right;
        padding-right: 80px;
    }

    li {
        width: 50vw;
    }

    .fa-circle {
        font-size: 10px;
    }

    .third-container h1 {
        font-size: 60px;
        height: 45vh;
        padding: 20px;
        text-align: center;
        background-attachment: scroll;
    }

    .third-container-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .third-container-content div {
        width: 45%;
        max-width: 100%;
        padding: 10px;
        align-items: center;
    }

    .third-container-content h2 {
        font-size: 27px;
        white-space: normal;
    }

    .third-container-content p {
        font-size: 17px;
        width: 100%;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .buy-button,
    .buy-button2 {
        font-size: 18px;
        padding: 12px;
    }

    .buy-button-container {
        margin-top: 30px;
    }

    .buy-button {
        width: 40vw;
    }

    .buy-button2 {
        margin-top: 25px;
        width: 50vw;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: auto;
        margin: 0;
    }

    .footer-content p {
        font-size: 16px;
    }

    .left-footer {
        width: 50%;
    }

    .right-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .right-footer h3 {
        text-align: end;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20vw;
    }

}